#email-container {
  width: 100%;

  & label {
    margin-bottom: 5px;
    font-size: 24px;
    display: block;
    font-family: var(--font-roboto);
  }

  a {
    font-size: 18px;
    text-decoration: none;
    color: #002278;
    transition: 0.3s;

    &:hover {
      color: #4d7fff;
    }
  }
}
